<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>O Matador de Monstros</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="app.js" defer="defer"></script>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app" class="container">
   <header class="section header">
     <div class="jogador">
       <h1>Jogador</h1>
       <div class="barra" :style="maxHealth">
         <div class="vida" :style="currentPlayerHealth"></div>
       </div>
       <span>{{playerHealth}}%</span>
     </div>
     <div class="jogador">


      <h1>Monstro</h1>
      <div class="barra" :style="maxHealth">
        <div class="vida" :style="currentMonsterHealth"></div>
      </div>
      <span>{{monsterHealth}}%</span>
    </div>
   </header>
   <div 
    v-if="!started"
    @click="start" 
    class="section controls">
    <button class="start">INICIAR JOGO</button>
   </div>
   <div v-else class="section controls">
      <button @click="attack" class='attack'>ATAQUE</button>
      <button class='special-attack'>ATAQUE ESPECIAL</button>
      <button class='heal'>CURAR</button>
      <button
      @click="started = !started" 
      class='resign'>DESISTIR</button>
   </div>

   <section v-show="log.length > 0" class='section log'>
     <div v-for="(message, index) in log" :key="index" class="actions">
       <p class='monster-action'>{{message.monster}}</p>
       <p class='player-action'>{{message.player}}</p>
     </div>

   </section>

  </div>
</body>
</html>