html {
  height: 100%;
}
body {
  min-height: 100%;
}

.container {
  height: 100vh;

  width: 100vw;
  max-width: 975px;
  margin: 0 auto;
} 

.header {
  font-size: 1em;
  padding-bottom: 2em;

}
.section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
  width: 100%;
  max-width: 90vw;
  height: 20vh;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 10px;
}

.jogador {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barra {
  height: 30px;
  max-width: 300px;
  border: 1px solid
}

.vida {
  width: 300px;
  background: green;
  height: 30px
}

.start {
  background-color: #852e9b;
  color: white;
}

.controls {
  height: 10vh;
}

.attack {
  background-color: red;
}

.special-attack {
  background-color: orange;
}

.heal {
  background-color: greenyellow;
}

.resign {
  background-color: gray;
}

button {
  border: none;
  border-radius: 10px;
  height: 2em;
}

button:focus {
  outline: none;
}

.log {
  flex-direction: column-reverse;
  height: auto;
  padding: 2em 0;
}

.actions {
  width: 80%;
  min-width: 80%;
  text-align: center;
  color: white;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  border-radius: 10px;
}
.monster-action {
  background-color: #e24f34;
  margin-bottom: 0.8em;
}

.player-action {
  background-color: #2e369b;
}


.vitoria {
  color: green;
}

.derrota {
  color: red;
}

@media only screen and (max-width: 680px) {
  .header {
    flex-direction: column;
    height: auto;
  }
}